@import "tailwindcss";

/* Sidebar Container */



.sidebar-container {
    position: relative;
}

/* Sidebar Style */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensures the sidebar is always on top */
}

/* Logo Style */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 120px;
    height: auto;
    border-radius: 50%;
}

/* Sidebar Content */
.sidebar-content {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-content h1 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.sidebar-content h2 {
    font-size: 1.125rem;
}

/* Links */
.sidebar-links {
    padding: 0;
    list-style: none;
}

.sidebar-links li {
    margin-bottom: 15px;
}

.sidebar-links a {
    display: block;
    padding: 10px;
    text-align: center;
    background-color: #064169;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.sidebar-links a:hover {
    background-color: #052f4d;
}

/* Social Media */
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social-media li {
    margin-right: 10px;
}

.social-icon {
    width: 32px;
    height: 32px;
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
    .sidebar {
        width: 240px;
    }
}
